@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<address>
    Dortheavej 17. 2 -10<br />
    Copenhagen, 2400<br />
    <abbr title="Phone">P:</abbr>
    +4591988199
</address>

<address>
    <strong>Support and maintenance:</strong>   <a href="mailto:eva.pardi@hotmail.com">Eva Pardi</a><br />
    <strong>Business and marketing:</strong> <a href="mailto:hi@marianneingeborg.com">Marianne Ingeborg</a>
</address>