
@{
    ViewBag.Title = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<p><b>How can I sign up to use the shop?</b></p><br />
<p>On the main page click on Register to create a new account. If you have account already from different external authentication providers, such as Facebook, Google or Microsoft, choose the Log in button to sign in.</p><br />


<p><b>Where can I find the books in the Webshop?</b></p><br />
<p>On the main page click on WebShop, to see the list of uploaded books for sale.</p><br />


<p><b>Is there detailed information available for each book?</b></p><br />
<p>On the main page click on WebShop, to see the list of uploaded books for sale. For each book, there is an option to see more information by clicking on the Details button.</p><br />


<p><b>How to put the book in my cart?</b></p><br />
<p>On the main page click on Books, to see the list of uploaded books for sale. There you can find a button to put the item to your cart. For each book, there is an option to see more information by clicking on the Details button. You can find the button here also, which will take the item to your cart.</p><br />


<p><b>What should I do if I change my mind before checking out?</b></p><br />
<p>Find your cart on the top menu of the page with the number indicating how many items did you put in your cart. Click on that button and you will see the list of books you have chosen before. For each item, there is a Remove from cart button, which removes the item from the basket.</p><br />


<p><b>What should I do if I change my mind after checking out?</b></p><br />
<p>Before payment you can easily remove the items, you put in you cart. After payment, you must contact the support, to remove your order. In this case, we cannot remove only one item from the order, so you have to choose items and checkout again.</p><br />


<p><b>What currencies are available?</b></p><br />
<p>We offer the service in Copenhagen Region, and Denmark, this is why the prices are presented as DKK.</p><br />


<p><b>What payment options are available?</b></p><br />
<p>This version offers users the opportunity to choose to pay with PayPal.</p><br />


<p><b>How long will it take before I receive my order? </b></p><br />
<p>It depends on the seller, and how far is the drop point. It usually takes up 1-2 days. In case of late delivery, contact support for further assistance.</p><br />


<p><b>The book has not arrived to the drop point yet, what can I do now?</b></p><br />
<p>It usually takes up 1-2 days. In case of late delivery, contact support for further assistance.</p><br />


<p><b>Can I return or exchange my product(s)? </b></p><br />
<p>This option is not available, given that you buy books from individuals, not from a library or a storage. We do not have additional items, and for security reasons we will not give out our users’ information.</p><br />
