<div class="jumbotron">

    <h1>Student Book Market</h1>

    <p class="lead">This version of the Webshop is built by Eva Pardi (CTO - Student Book Market)</p>

    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Items")'">Look around in our shop &raquo;</button></p>

</div>



<div class="row">

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">



    </div>







</div>